* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #e5e5e5;
}

a {
  text-decoration: none;
}

/********** Welcome ********/
header {
  background: white;
  height: 718px;
  width: 375px;
  border-bottom-left-radius: 100px;
}

.head_desktop {
  display: none;
}

/* Header */
.home {
  display: flex;
  flex-direction: column;
  width: 375px;
}

.bars {
  display: flex;
  align-items: center;
  width: 375px;
  justify-content: space-around;
  background: white;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.left {
  width: 45%;
  right: 12px;
}

.right {
  display: flex;
  justify-content: flex-end;
  width: 45%;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

/* Headline */

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  width: 375px;
  background: url("images/welcome/background/background.svg");
  background-position-y: 50px;
  background-repeat: no-repeat;
}

.text {
  padding: 80px 24px;
  padding-bottom: 0;
}

.btn {
  border: none;
  padding: 12px 16px;
  cursor: pointer;
  background-color: transparent;
}

/* Highlight */
h1 {
  position: static;
  width: 327px;
  height: 150px;
  left: 24px;
  top: 114px;

  /* Header / 2 */
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 52px;

  /* Neutrals/N800 */

  color: #172b4d;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

/* paragraph */

p {
  /* Primary Text */
  position: static;
  width: 327px;
  height: 146px;
  left: 24px;
  top: 276px;

  /* Body / 2 */

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  /* or 150% */

  /* Neutrals/N600 */

  color: #344563;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
  padding-top: 12px;
}

.connect {
  display: flex;
  align-self: flex-start;
  position: absolute;
  width: 200px;
  height: 24px;
  left: 16px;
  top: 460px;

  /* Body / 2 - Bolder */

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  /* Primary/B300 */

  color: #7f8cff;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 8px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  left: 16px;
  top: 500px;
}

ul {
  display: flex;
  align-items: center;
}

.no_bullet {
  padding: 0;
  list-style-type: none;
}

li a {
  padding: 5px;
}

/* -------------- works section ------------ */
.works {
  /* Auto Layout */
  display: grid;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  position: absolute;
  width: 375px;
  height: 2788px;
  left: 0;
  top: 718px;
  margin: 0;
}

.project {
  /* Auto Layout */
  display: grid;
  flex-direction: column;
  align-items: start;
  justify-items: start;
  padding: 16px;
  position: static;
  width: 327px;
  height: 596px;
  top: 754px;

  /* Neutrals/N0 */
  background: #fff;

  /* Neutrals/N40 */
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  position: static;
  top: 0;
  height: 100%;
}

h2 {
  display: flex;
  position: static;
  width: 295px;
  height: 36px;
  left: 0;
  top: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;

  /* or 137% */

  /* Neutrals/N800 */

  color: #172b4d;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.list {
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  justify-content: space-between;
  position: static;
  width: 236px;
  height: 32px;
  left: 0;
  top: 48px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
  margin-bottom: 0;

  /* Caption / 1 - Bolder */

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.list_bullet {
  color: #7a869a;
}

.company {
  /* Caption / 1 - Bolder */

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* identical to box height, or 123% */

  /* Neutrals/N600 */

  color: #344563;
}

.p_card {
  /* Primary Text */
  position: static;
  height: 76px;
  width: 295px;
  top: 0;
  left: 0;
  padding: 0;

  /* Body / 3 */

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;

  /* or 160% */

  /* Neutrals/N600 */

  color: #344563;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

/* tag */

.tag_list {
  display: flex;
  order: 1;
  margin-left: 0;
}

.tag {
  float: left;
  margin-right: 7px;
  padding: 3px 7px 3px 7px;

  /* Primary/B50 */

  background: #ebebff;
  border-radius: 8px;

  /* font */
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;

  /* identical to box height, or 133% */

  letter-spacing: 0.03em;

  /* Primary/B400 */

  color: #6070ff;
}

.project_btn {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 124px;
  height: 48px;
  left: 0;
  margin-top: 15px;
}

/* --------------- about my self --------- */
.about_myself {
  /* Base about my self */
  display: flex;
  position: absolute;
  width: 375px;
  height: 1263px;
  top: 3506px;
  left: 0;

  /* Neutrals/N0 */

  background: white;
  border-top-right-radius: 80px;
}

.top {
  /* Auto Layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
  padding-right: 0;
  position: static;
  width: 100vw;
  height: 409px;
  left: 24px;
  top: 114px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0;
}

.about_myself h2 {
  width: 40px;
  position: static;
  height: 101px;
  font-size: 40px;
}

.about_myself p {
  font-size: 17px;
  width: 100%;
}

.resume_btn {
  display: flex;
  padding: 12px;
  width: 150px;
  height: 48px;
  left: 0;
}

.connect_about_my_self {
  position: static;
  width: 200px;
  height: 24px;
  left: 0;
  top: 0;

  /* Body / 2 - Bolder */

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  /* Primary/B300 */

  color: #7f8cff;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 8px;
  margin-left: 0;
}

.contacts_about_my_self .no_bullet {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

/* ----- skill div ------ */
.skills {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 327px;
  height: 464.15px;
  left: 24px;
  top: 547px;
  border: 0;
  padding: 0;
  margin: 24px 0;
}

.accordion {
  /* Frame 7 */
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: static;
  width: 327px;
  height: 72px;
  left: 0;
  border-bottom: 1px solid lightgray;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
}

.arrow {
  width: 15px;
  height: 15px;
  margin-right: 40px;
}

.skills .no_bullet {
  display: flex;
  flex-direction: column;
  top: 72px;
}

.skill_list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  /* Neutrals/N10 */

  background: #f7f7f9;
  border-radius: 8px;

  /* size */
  width: 303px;
  height: 66.72px;

  /* border */
  margin: 12px 0;
}

.skill_frame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skill_img {
  padding-right: 10px;
  width: 48px;
  height: 48px;
}

/* ----------------- Contact Form ------------------- */
.footer-container {
  background-color: #fff;
  position: absolute;
  width: 375px;
  height: 779px;
  top: 4700px;
  left: 0;
}

.contact-wrapper {
  background: url(images/Contact_form/CF_backgroun.svg) right 70px no-repeat;
  border-top-left-radius: 100px;
  background-color: #6070ff;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}

.contact-wrapper-two {
  padding-top: 50px;
  background-size: contain;
  width: 100%;
}

.contactme-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px 0 30px;
  padding-top: 50px;
}

.contact-heading {
  font-weight: 700;
  font-size: 40px;
  font-family: "poppins", sans-serif;
  color: white;
  margin-bottom: 5px;
}

.message-contact {
  margin-top: 5px;
  font-weight: 400;
  line-height: 28px;
  font-family: "poppins", sans-serif;
  font-size: 20px;
  color: #ebebff;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 18px auto;
  width: 327px;
}

.form-input {
  margin-bottom: 15px;
  height: 48px;
  border-radius: 8px;
  font-size: 17px;
  padding: 18px;
  color: #172b4d;
  font-family: "poppins", sans-serif;
  border: 1px solid #cfd8dc;
}

.form-textarea {
  height: 170px;
  border-radius: 8px;
  font-size: 17px;
  padding: 16px;
  border: 1px solid #cfd8dc;
  margin-bottom: 15px;
  color: #b3bac5;
  font-family: "poppins", sans-serif;
}

.contact-submit {
  width: 140px;
  height: 48px;
  border: none;
}

.btn-effect {
  display: grid;
  justify-items: center;
  align-items: center;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  order: 3;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background: #fff;
  color: #6070ff;
  cursor: pointer;
}

.btn-effect:hover {
  border: 1px solid #396df2;
  background: #396df2;
  color: white;
}

.btn-effect:active {
  background: navy;
  color: white;
  width: 140px;
  height: 48px;
  border-radius: 8px;
}

.btn-effect:disabled {
  display: grid;
  justify-items: center;
  align-items: center;
  border: 2px solid grey;
  background: white;
  color: grey;
  height: 48px;
  border-radius: 8px;
}

/* Contact Form end */
