* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: #e5e5e5;
}

a {
  text-decoration: none;
}

li a {
  padding: 5px;
}

/********** Welcome ********/
header {
  background: white;
  height: 718px;
  width: 100vw;
  border-bottom-left-radius: 100px;
}

/* Header */
.home {
  display: flex;
  flex-direction: column;
}

.bars {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 0 3vw;
}

.left {
  right: 12px;
}

.right {
  display: flex;
  justify-content: flex-end;
}

/* ----------- Navbar START --------------- */

.header {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.hamburger {
  right: 1.5rem;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #6070ff;
  border-radius: 20px;
}

.nav-menu {
  position: fixed;
  left: -120%;
  top: 0;
  gap: 0;
  flex-direction: column;
  background-color: #6070ff;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1;
  opacity: 0.9;
}

.nav-item a {
  color: #fff;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  z-index: 2;
  opacity: 10;
}

/* --- active class --- */
@media screen and (max-width: 992px) {
  .nav-menu.active {
    left: 0;
    display: flex;
    align-items: flex-start;
    padding: 5rem 2rem;
    gap: 1rem;
  }

  .bars.active {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 0 3vw;
    z-index: 1;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: white;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: white;
  }

  .hamburger.active {
    z-index: 2;
  }
}

/* ----------- Navbar end --------------- */

.logo {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

/* Headline */

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  width: 100vw;
  background: url("../images/welcome/background/background.svg");
  background-size: cover;
  background-position-y: 50px;
  background-repeat: no-repeat;
}

.text {
  padding: 100px 5vw;
  padding-bottom: 0;
}

.btn {
  border: none;
  padding: 1vw 1.5vw;
  cursor: pointer;
  background-color: transparent;
}

/* Highlight */
h1 {
  position: static;
  height: 150px;
  left: 2vw;
  top: 114px;

  /* Header / 2 */
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 52px;

  /* Neutrals/N800 */

  color: #172b4d;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

/* paragraph */

p {
  /* Primary Text */
  left: 2vw;
  top: 276px;

  /* Body / 2 */

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  /* or 150% */

  /* Neutrals/N600 */

  color: #344563;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 1vw 0;
  padding-top: 12px;
}

.connect {
  display: flex;
  align-self: flex-start;
  position: absolute;
  height: 24px;
  top: 460px;

  /* Body / 2 - Bolder */

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  /* Primary/B300 */

  color: #7f8cff;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  top: 500px;
}

ul {
  display: flex;
  align-items: center;
}

.no_bullet {
  padding: 0;
  list-style-type: none;
}

/* -------------- works section ------------ */
.works {
  /* Auto Layout */
  display: grid;
  flex-direction: column;
  align-items: center;
  padding: 114px 5vw;
  margin: 0;
  gap: 52px;
}

.project {
  /* Auto Layout */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-items: start;
  padding: 5vw;
  width: 100%;
  height: 596px;

  /* Neutrals/N0 */
  background: #fff;

  /* Neutrals/N40 */
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
}

.image {
  width: 100%;
}

.image img {
  width: 100%;
  height: 220px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  gap: 1vh;
  padding-top: 1rem;
}

.card_head {
  display: flex;
  flex-flow: column;
}

h2 {
  display: flex;
  width: 70vw;
  left: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;

  /* or 137% */

  /* Neutrals/N800 */

  color: #172b4d;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.list {
  /* Auto Layout */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2vw;
  width: 90%;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;

  /* Caption / 1 - Bolder */

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
}

.list_bullet {
  color: #7a869a;
  list-style-type:disc;
}

.company {
  /* Caption / 1 - Bolder */

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* identical to box height, or 123% */

  /* Neutrals/N600 */

  color: #344563;
}

.p_card {
  /* Primary Text */
  height: 76px;
  width: 95%;
  top: 0;
  left: 0;
  padding: 0;

  /* Body / 3 */

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;

  /* or 160% */

  /* Neutrals/N600 */

  color: #344563;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

/* tag */

.tag_list {
  display: flex;
  flex-wrap: wrap;
  order: 1;
  margin-left: 0;
}

.tag {
  float: left;
  margin-right: 7px;
  padding: 3px 7px 3px 7px;

  /* Primary/B50 */

  background: #ebebff;
  border-radius: 8px;

  /* font */
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;

  /* identical to box height, or 133% */

  letter-spacing: 0.03em;

  /* Primary/B400 */

  color: #6070ff;
}

.project_btn {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 124px;
  height: 48px;
  left: 0;
  margin-top: 2vw;
}

/* --------------- about my self --------- */
.about_myself {
  /* Base about my self */
  width: 100vw;
  left: 0;

  /* Neutrals/N0 */

  background: white;
  border-top-right-radius: 80px;
  padding: 5rem 0;
}

.top {
  /* Auto Layout */

  display: flex;
  flex-direction: column;
  padding: 5vw;
}

.about_myself h2 {
  width: 40vw;
  font-size: 40px;
}

.top p {
  font-size: 17px;
}

.resume_btn {
  display: flex;
  padding: 12px;
  width: 150px;
  left: 0;
}

.connect_about_my_self {
  width: 200px;
  left: 0;

  /* Body / 2 - Bolder */

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  /* Primary/B300 */

  color: #7f8cff;
}

.contacts_about_my_self .no_bullet {
  display: flex;
  margin: 20px 0;
}

.contacts_about_my_self .no_bullet li {
  padding: 5px;
}

/* ----- skill div ------ */
.skills {
  display: flex;
  flex-direction: column;
  width: 90vw;
  left: 24px;
  border: 0;
  padding: 24px 0;
  background: white;
}

.accordion {
  /* Frame 7 */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  height: 72px;
  left: 0;
  border-bottom: 1px solid lightgray;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
}

.arrow {
  width: 15px;
  height: 15px;
  margin-right: 40px;
}

.skills .no_bullet {
  display: flex;
  flex-direction: column;
}

.skill_list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  /* Neutrals/N10 */

  background: #f7f7f9;
  border-radius: 8px;

  /* size */
  width: 80vw;

  /* border */
  margin: 12px 0;
}

.skill_frame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skill_img {
  padding-right: 10px;
  width: 48px;
  height: 48px;
}

/* ----------------- Contact Form ------------------- */
.footer-container {
  background-color: #fff;
  width: 100vw;
  left: 0;
}

.contact-wrapper {
  background: url(../images/Contact_form/CF_backgroun.svg) right 70px no-repeat;
  border-top-left-radius: 100px;
  background-color: #6070ff;
  width: 100vw;
  padding-bottom: 50px;
}

.contact-wrapper-two {
  padding-top: 50px;
  background-size: contain;
  width: 100%;
}

.contactme-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px 0 30px;
  padding-top: 50px;
}

.contact-heading {
  font-weight: 700;
  font-size: 40px;
  font-family: "poppins", sans-serif;
  color: white;
  margin-bottom: 5px;
}

.message-contact {
  margin-top: 5px;
  font-weight: 400;
  line-height: 28px;
  font-family: "poppins", sans-serif;
  font-size: 20px;
  color: #ebebff;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 18px auto;
  width: 90vw;
}

.form-input {
  margin-bottom: 15px;
  height: 48px;
  border-radius: 8px;
  font-size: 17px;
  padding: 18px;
  color: #172b4d;
  font-family: "poppins", sans-serif;
  border: 1px solid #cfd8dc;
}

.form-textarea {
  height: 170px;
  border-radius: 8px;
  font-size: 17px;
  padding: 16px;
  border: 1px solid #cfd8dc;
  margin-bottom: 15px;
  color: #b3bac5;
  font-family: "poppins", sans-serif;
}

.contact-submit {
  width: 140px;
  height: 48px;
  border: none;
}

.btn-effect {
  display: grid;
  justify-items: center;
  align-items: center;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  order: 3;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background: #fff;
  color: #6070ff;
  cursor: pointer;
}

.btn-effect:hover {
  border: 1px solid #396df2;
  background: #396df2;
  color: white;
}

.btn-effect:active {
  background: navy;
  color: white;
  width: 140px;
  height: 48px;
  border-radius: 8px;
}

.btn-effect:disabled {
  display: grid;
  justify-items: center;
  align-items: center;
  border: 2px solid grey;
  background: white;
  color: grey;
  height: 48px;
  border-radius: 8px;
}
