.modal {
  position: fixed;
  top: 0;
  left: 0;
  margin: 2.5vh 2vw;
  z-index: 10;
  overflow-y: auto;
  background: #fff;
  border-radius: 16px;
}

.modal-body {
  z-index: 10;
  height: 95vh;
}

.no-scroll-bg {
  /* overflow-y: hidden;
  background: none; */
}

.list-pop {
  padding: 1rem 0;
  list-style-type: circle;

}

.modal-head {
  padding: 18px 5%;
}

.modal-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-top h2 {
  font-size: 32px;
}

.modal-top i {
  padding: 0.5rem;
}

.modal-footer .tag_list {
  margin: 12px 0 3vw;
}

.modal-bottom p {
  padding-top: 0;
  font-size: 14px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid #EBECF0;
  padding: 3vw;
  gap: 3vw;
}

.pop_btn {
  padding: calc(6px + 1vw) calc(7px + 1vw);
  width: auto;
  height: auto;
  display: flex;
  justify-items: flex-start;
  gap: 10px;
}

#overlay {
  position: fixed;
  opacity: 1;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #C1C7D0;
  mix-blend-mode: multiply;
  pointer-events: all;
}

/* Desktop version */
@media screen and (min-width: 992px) {
  .modal {
    margin: 5vh 5vw;
  }

  .modal-body {
    background: #fff;
    height: 90vh;
  }

  .modal-head img{
    width: 100%;

  }

  .modal-bottom {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .modal-bottom p {
    width: 50%;
  }

  .modal-footer {
    margin-left: 2rem;
  }

  .modal-buttons {
    padding-left: 0;
  }
}
