.modal {
  background: #fff;
  position: fixed;
  top: 10%;
  left: 5%;
  width: 90%;
  height: 80%;
  overflow-y: scroll;
}

.modal-head {
  padding: 18px 5%;
}

.modal-top {
  display: flex;
  align-items: center;
  
}

.list-pop {
  padding: 22px 0;
  display: flex;
}

.date {
}

.modal-bottom p {
  padding: 12px 0 16px 0;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}